extends layout

block layout-content
  div.View.WelcomeView
    h1.Banner Error 404
    div.Message
      div.Title
        h2(style="color:white;") Error: not found!
        h3(style="color:white;") The page/directory you are requesting for could not be found!
      span.Details Note: We do not own discord!
    div.NavButtons
      a(href="/")
        div.NavButton Home
    div.NavButtons
      a(href="https://code.senghong.xyz")
        div.NavButton My portfolio!
