extends layout

block layout-content
  div.View.WelcomeView
    h1.Banner Jasbot, an easy to use discord bot!
    div.Message
      div.Title
        h3(style="color:white;") A multipurpose minimalistic discord bot!<br><br>

      div.detail
        h5(style="color:white;") This bot is in #{guildSize} servers!
        h5(style="color:white;") <br> Made by pendragon's code!
        h5(style="color:white;") <br> Simple but plenty of features!
    div.NavButtons
      a(href="https://discord.com/api/oauth2/authorize?client_id=875419076682473493&permissions=8&scope=bot")
        div.NavButton Add the bot!
    div.NavButtons
      a(href="https://code.senghong.xyz")
        div.NavButton My portfolio!

